In [1]:
import pandas as pd
import matplotlib.pyplot as plt

df5 = pd.read_csv('시군구_성_출산순위별_출생_20240621181932.csv', encoding='utf-8')

In [2]:
df5.head()
# print(df5.columns)

,시군구별,출산순위별,2013,2013.1,2013.2,2014,2014.1,2014.2,2015,2015.1,...,2019.2,2020,2020.1,2020.2,2021,2021.1,2021.2,2022,2022.1,2022.2
0,시군구별,출산순위별,계 (명),남자 (명),여자 (명),계 (명),남자 (명),여자 (명),계 (명),남자 (명),...,여자 (명),계 (명),남자 (명),여자 (명),계 (명),남자 (명),여자 (명),계 (명),남자 (명),여자 (명)
1,전국,총계,436455,223883,212572,435435,223356,212079,438420,224906,...,147260,272337,139362,132975,260562,133516,127046,249186,127454,121732
2,전국,1아,224807,115340,109467,225393,115768,109625,228637,117626,...,78708,149211,76275,72936,145039,74434,70605,144951,74201,70750
3,전국,2아,165662,84639,81023,165331,84528,80803,166119,84873,...,54347,97828,50049,47779,92521,47294,45227,83933,42943,40990
4,전국,3아 이상,45233,23487,21746,43712,22561,21151,42443,21793,...,14068,25177,13027,12150,22913,11780,11133,20215,10299,9916

In [6]:
columns_to_keep = [col for col in df5.columns if col.isdigit() and len(col) == 4]
df5_cleaned = df5[columns_to_keep]
df5_cleaned.iloc[0] = df5_cleaned.iloc[0].replace('계 (명)', '출생아')

df5_cleaned = df5_cleaned.reset_index(drop=True).iloc[:2]
df5_cleaned = df5_cleaned.drop(columns=['2013', '2014'])
df5_end = df5_cleaned

df5_end = pd.DataFrame([df5_end.iloc[1].values], columns=df5_end.columns)
df5_end.index = ['출생아']

df5_end.head()

C:\Users\Admin\AppData\Local\Temp\ipykernel_19180\4183012977.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5_cleaned.iloc[0] = df5_cleaned.iloc[0].replace('계 (명)', '출생아')

       2015    2016    2017    2018    2019    2020    2021    2022
출생아  438420  406243  357771  326822  302676  272337  260562  249186

In [22]:
# '계 (명)'을 '출생아'로 변경하고 필요한 열만 추출
columns_to_keep = [col for col in df5.columns if col.isdigit() and len(col) == 4]
df5_cleaned = df5[columns_to_keep]
df5_cleaned.iloc[0] = df5_cleaned.iloc[0].replace('계 (명)', '출생아')

# 필요한 행과 열만 남기고 데이터프레임을 정리
df5_end = df5_cleaned.iloc[1:2].drop(columns=['2013', '2014']).reset_index(drop=True)
df5_end.index = ['출생아']

         2016  2016.9    2017  2017.9     2018  2018.9     2019  2019.9  \
다문화인원  963174  158620  963801  159958  1008520  165919  1062423  173085

          2020  2020.9     2021  2021.9     2022  2022.9
다문화인원  1093228  173104  1119267  174122  1151004  175365